<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>image</key>
	<data>
	iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAIAAAAiOjnJAAAAAXNSR0IArs4c6QAAAAlw
	SFlzAAAWJQAAFiUBSVIk8AAAABxpRE9UAAAAAgAAAAAAAABkAAAAKAAAAGQAAABkAAAH
	JCWftOcAAAbwSURBVHgB7JTvR99dGMeT/QWJGYnEREZGIjEjMWMiI2PGRGIikTFjIjGR
	SEwkZszIyJiRkUgkMhKJxIyMGTMyct8P9uR13xzOcX5d16Xvo+N8r/O+3r98Ghouf5cO
	XDpw6YAyB/5R+/uf0U1NTRqlUIVG/uRMLQ38Q9f5PzIaGpqbm3Xx/8uWKjTyJ2dqsVOs
	q1evUqSWM8PQwtnFk1rsFOvatWsuwZLvGYZknj7cqMVOsVpaWnzES5thGNK4hfKhFjvF
	am1tDTVCwjzDkMAnhgO12ClWW1tbjCm13jKMWhxS7aUWO8Vqb29PZVBJHIZRcm+OXdRi
	p1jXr1/PYVZuTIaRe1dufGqxU6yOjo7cxuXAZxg58EtiUoudYnV2dpY0MdUuhpEKsxYO
	tdgp1o0bN2oZGrOXYcTgSHhLLXaK1dXVJcHcUA4MI/SttHlqsVOsmzdvSjPahw/D8JmX
	PEMtdorV3d0t2XQXN4bhmtFyTy12itXT06MlAPJkGLzXeKYWO8Xq7e3VHoZG/uRss1h9
	fX0UqeXMMLRwdvGkFjtfrFu3brkES75nGJJ5+nCjFjvFun37to94aTMMQxq3UD7UYqdY
	/f39oUZImGcYEvjEcKAWO8UaGBiIMaXWW4ZRi0OqvdRip1h37txJZVBJHIZRcm+OXdRi
	p1h3797NYVZuTIaRe1dufGqxU6x79+7lNi4HPsPIgV8Sk1rsFGtwcLCkial2MYxUmLVw
	qMVOsYaGhmoZGrOXYcTgSHhLLXaKdf/+fQnmhnJgGKFvpc1Ti51iDQ8PSzPahw/D8JmX
	PEMtdor14MEDyaa7uDEM14yWe2qxU6yHDx9qCYA8GQbvNZ6pxU6xHj16pD0MjfzJ2Wax
	Hj9+TJFazgxDC2cXT2qx88UaGRlxCZZ8zzAk8/ThRi12ijU6OuojXtoMw5DGLZQPtdgp
	1tjYWKgREuYZhgQ+MRyoxU6xnjx5EmNKrbcMoxaHVHupxU6xxsfHUxlUEodhlNybYxe1
	2CnWxMREDrNyYzKM3Lty41OLnWJNTk7mNi4HPsPIgV8Sk1rsFGtqaqqkial2MYxUmLVw
	qMVOsZ4+fVrL0Ji9DCMGR8JbarFTrGfPnkkwN5QDwwh9K22eWuwU6/nz59KM9uHDMHzm
	Jc9Qi51ivXjxQrLpLm4MwzWj5Z5a7BRrenpaSwDkyTB4r/FMLXaKNTMzoz0MjfzJ2Wax
	ZmdnKVLLmWFo4eziSS12vlgvX750CZZ8zzAk8/ThRi12ijU3N+cjXtoMw5DGLZQPtdgp
	1vz8fKgREuYZhgQ+MRyoxU6xFhYWYkyp9ZZh1OKQai+12CnW4uJiKoNK4jCMkntz7KIW
	O8VaWlrKYVZuTIaRe1dufGqxU6xXr17lNi4HPsPIgV8Sk1rsFGt5ebmkial2MYxUmLVw
	qMVOsVZWVmoZGrOXYcTgSHhLLXaKtbq6KsHcUA4MI/SttHlqsVOs169fSzPahw/D8JmX
	PEMtdor15s0byaa7uDEM14yWe2qxU6y3b99qCYA8GQbvNZ6pxU6x3r17pz0MjfzJ2Wax
	1tbWKFLLmWFo4eziSS12vljv3793CZZ8zzAk8/ThRi12irW+vu4jXtoMw5DGLZQPtdgp
	1ocPH0KNkDDPMCTwieFALXaK9fHjxxhTar1lGLU4pNpLLXaK9enTp1QGlcRhGCX35thF
	LXaKtbGxkcOs3JgMI/eu3PjUYqdYnz9/zm1cDnyGkQO/JCa12CnW5uZmSRNT7WIYqTBr
	4VCLnWJtbW3VMjRmL8OIwZHwllrsFGt7e1uCuaEcGEboW2nz1GKnWDs7O9KM9uHDMHzm
	Jc9Qi51i7e7uSjbdxY1huGa03FOLnWLt7e1pCYA8GQbvNZ6pxU6x9vf3tYehkT852yzW
	ly9fKFLLmWFo4eziSS12vlgHBwcuwZLvGYZknj7cqMVOsQ4PD33ES5thGNK4hfKhFjvF
	Ojo6CjVCwjzDkMAnhgO12CnW8fFxjCm13jKMWhxS7aUWO8U6OTlJZVBJHIZRcm+OXdRi
	p1inp6c5zMqNyTBy78qNTy12ivX169fcxuXAZxg58EtiUoudYn379q2kial2MYxUmLVw
	qMVOsc7OzmoZGrOXYcTgSHhLLXaK9f37dwnmhnJgGKFvpc1Ti51i/fjxQ5rRPnwYhs+8
	5BlqsVOsnz9/SjbdxY1huGa03FOLnWL9+vVLSwDkyTB4r/FMLXaK9fv3b+1haORPzjaL
	dX5+TpFazgxDC2cXT2qx88X68+ePS7Dke4YhmacPN2qxU6yLiwsf8dJmGIY0bqF8qOWy
	WKHuJZ5nGImhi8NRi5FiNTY2FrcxzUKGkQaxHgq1GCnWlStX6vkZtZlhRAEJePxXy78A
	AAD///DPu8oAAAcjSURBVO2Sb0SebRjG+5ZIJDISE4lExsREIpFITCQSiYyMiYnERCKR
	SCQSiYlEIpFIJBIzEhmJiRmJRPq0N288fjyP2/3n+nNep/qQ2/Vc13kev+M4ior+//sX
	7N+L/pf/xcXFgXKQIlCEnGyyFOVOg/sgRklJSXD6XwSTIlCEnGyyKClWaWlpDi+sD4YR
	lvJ8tWRRUqyysrJ8ziBOGEYQgiNEkkVJscrLyyOAJf/EMCTrjKONLEqKVVFREYdc4B2G
	IVBeIklkUVKsysrKRBbIucww5KhKp4QsSor15s2bdF54f8UwvIvJKIAsSopVVVWV0RRf
	zxmGLw2m9pJFSbGqq6tNueN4DsNwvNr4OrIoKdbbt2+N2+RmIMNws9HeFrIoKVZNTY09
	v6xOZhhWFzkYThYlxaqtrXVgnI0VDMPGfJczyaKkWHV1dS4dNLiLYRgc62UUWZQUq76+
	3ouV2ZcyjOzT/E4gi5JiNTQ0+PU09XaGkXqIkIdkUVKsxsZGIeYmlcEwkr6Vdp8sSor1
	7t07aS7H1MMwYj4Re40sSor1/v17sXZHC2MY0Tfl/0oWJcVqamqS73tBhQyj4IWADsmi
	pFgfPnwIKABKZRg8D/GbLEqK1dzcHGISz5oZRqAIOdlkUVKslpaWHF5YHwwjLOX5asmi
	pFitra35nEGcMIwgBEeIJIuSYrW1tUUAS/6JYUjWGUcbWZQUq729PQ65wDsMQ6C8RJLI
	oqRYHR0diSyQc5lhyFGVTglZlBSrs7MznRfeXzEM72IyCiCLkmJ1dXVlNMXXc4bhS4Op
	vWRRUqzu7m5T7jiewzAcrza+jixKivXx40fjNrkZyDDcbLS3hSxKitXT02PPL6uTGYbV
	RQ6Gk0VJsXp7ex0YZ2MFw7Ax3+VMsigpVl9fn0sHDe5iGAbHehlFFiXF6u/v92Jl9qUM
	I/s0vxPIoqRYAwMDfj1NvZ1hpB4i5CFZlBRrcHBQiLlJZTCMpG+l3SeLkmINDQ1Jczmm
	HoYR84nYa2RRUqzh4WGxdkcLYxjRN+X/ShYlxfr06ZN83wsqZBgFLwR0SBYlxRoZGQko
	AEplGDwP8ZssSor1+fPnEJN41swwAkXIySaLkmJ9+fIlhxfWB8MIS3m+WrIoKdbo6Gg+
	ZxAnDCMIwREiyaKkWF+/fo0AlvwTw5CsM442sigp1tjYWBxygXcYhkB5iSSRRUmxxsfH
	E1kg5zLDkKMqnRKyKCnWxMREOi+8v2IY3sVkFEAWJcX69u1bRlN8PWcYvjSY2ksWJcWa
	nJw05Y7jOQzD8Wrj68iipFhTU1PGbXIzkGG42WhvC1mUFGt6etqeX1YnMwyrixwMJ4uS
	Ys3MzDgwzsYKhmFjvsuZZFFSrNnZWZcOGtzFMAyO9TKKLEqKNTc358XK7EsZRvZpfieQ
	RUmx5ufn/XqaejvDSD1EyEOyKCnWwsKCEHOTymAYSd9Ku08WJcVaXFyU5nJMPQwj5hOx
	18iipFhLS0ti7Y4WxjCib8r/lSxKirW8vCzf94IKGUbBCwEdkkVJsVZWVgIKgFIZBs9D
	/CaLkmKtrq6GmMSzZoYRKEJONlmUFGttbS2HF9YHwwhLeb5asigp1vr6ej5nECcMIwjB
	ESLJoqRY379/jwCW/BPDkKwzjjayKCnWxsZGHHKBdxiGQHmJJJFFSbE2NzcTWSDnMsOQ
	oyqdErIoKdbW1lY6L7y/YhjexWQUQBYlxdre3s5oiq/nDMOXBlN7yaKkWDs7O6bccTyH
	YThebXwdWZQUa3d317hNbgYyDDcb7W0hi5Ji7e3t2fPL6mSGYXWRg+FkUVKs/f19B8bZ
	WMEwbMx3OZMsSop1cHDg0kGDuxiGwbFeRpFFSbEODw+9WJl9KcPIPs3vBLIoKdbR0ZFf
	T1NvZxiphwh5SBYlxTo+PhZiblIZDCPpW2n3yaKkWCcnJ9JcjqmHYcR8IvYaWZQU6/T0
	VKzd0cIYRvRN+b+SRUmxzs7O5PteUCHDKHghoEOyKCnWjx8/AgqAUhkGz0P8JouSYv38
	+TPEJJ41M4xAEXKyyaKkWOfn5zm8sD4YRljK89WSRUmxLi4u8jmDOGEYQQiOEEkWJcW6
	vLyMAJb8E8OQrDOONrIoKdavX7/ikAu8wzAEykskiSxKinV1dZXIAjmXGYYcVemUkEVJ
	sa6vr9N54f0Vw/AuJqMAsigp1u/fvzOa4us5w/ClwdResigp1s3NjSl3HM9hGI5XG19H
	FiXF+vPnj3Gb3AxkGG422ttCFiXF+vv3rz2/rE5mGFYXORhOFiXFur29dWCcjRUMw8Z8
	lzPJoqRYd3d3Lh00uIthGBzrZRRZlBTr/v7ei5XZlzKM7NP8TiCLkmI9PDz49TT1doaR
	eoiQh2RRUqzHx0ch5iaVwTCSvpV2nyxKivX09CTN5Zh6GEbMJ2KvkeX1+9WBVwdeHQjB
	gf8AQI39PsCqye4AAAAASUVORK5CYII=
	</data>
	<key>name</key>
	<string>x</string>
	<key>patchColors</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>patches</key>
	<array>
		<array>
			<string>{-0, -0}</string>
			<string>{0.34000000000000002, 0}</string>
			<string>{0.33000000000000002, 1}</string>
			<string>{-0, 1}</string>
		</array>
		<array>
			<string>{0.33000000000000002, 0}</string>
			<string>{0.66000000000000003, -0}</string>
			<string>{0.66000000000000003, 1}</string>
			<string>{0.33000000000000002, 1}</string>
		</array>
		<array>
			<string>{0.66000000000000003, -0}</string>
			<string>{1, 0}</string>
			<string>{1, 1}</string>
			<string>{0.66000000000000003, 1}</string>
		</array>
	</array>
</dict>
</plist>
